.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0px 100px;
}
section{
    margin-top: 100px;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}

.nav-title{
    font-weight: bold;
    font-size: 40px;
}

.btn-signin{
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-weight: 600;
    color: #006A50;
    font-size: 15px;
}

/* banner styles */
.banner{
    display: flex;
    padding: 70px 40px 70px 60px;
    border-radius: 24px;
    background-color: #C6E4D6;
    justify-content: space-between;
    align-items: center;
}

.banner-h4{
    font-weight: 500;
    font-size: 25px;
    color: #0E0E0E;
    opacity: 50%;
}

.banner-h1{
    font-weight: 600;
    font-size: 40px;
    color: #0E0E0E;
}

.banner-btn{
    padding: 15px 30px;
    text-align: center;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}

/* section-1("pillars of bangladesh2.0" section) */
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.pillars{
    background-color: #dfd6d6;
    padding: 30px;
    border-radius: 15px;
    height: 250px;
    width: 250px;
}

/* section-2("vision of future" section) */
.section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.mission{
    padding: 30px;
    border-radius: 15px;
    width: 100%;
}

.m1{
    background-color: rgba(84, 144, 245, 20%);
}

.m2{
    background-color: #C6E4D6;
}

.m3{
    background-color: #F7EBCF;
}

.btn-1{
    background-color: #5490F5;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}

.btn-2{
    background-color: #09A15C;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
.btn-3{
    background-color: #FFC239;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}

/* section-3("chief advisor quote" section) */
.section3{
    background-image: url("/B11A1--assignment-1-main/assets/quote-bg.png");
    background-position: 30px 16px;
    background-repeat: no-repeat;
    background-color: #dfd6d6;
    padding: 30px;
    border-radius: 15px;
}

/* section-4("opinion table" section) */
table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    padding: 30px;
}

thead{
    background-color: #C6E4D6;
}
td{
    border: 1px solid black;
    padding: 25px;
}
.slct{
    background-color: #C6E4D6;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}

/* section-5("recent news" section) */
.news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
    padding: 0px 40px;
    background-color: #f5f1f1;
    border-radius: 8px;
    height: 350px;
}

.img-satelite{
    width: 300px;
    height: 200px;
    border-radius: 15px;

}

.news-title{
    font-weight: bold;
    font-size: 25px;
    color: #0E0E0E;
    opacity: 80%;
}

.btn-news{
    border-radius: 8px;
    padding: 12px 25px;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
}

/* section-6("donate now" section) */
.donate{
    text-align: center;
    padding: 30px 150px;
}

.donation-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amount{
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #ebe5e5;
    gap: 25px;
    padding: 10px 20px;
    height: 40px;
    width: 150px;
    margin-bottom: 20px; 
}

input{
    width: 800px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #ebe5e5;
    margin-bottom: 10px;

}
input::placeholder{
    text-align: center;
    color: rgba(14, 14, 14, 30%);
}

.btn-donate{
    background-color: #006A50;
    padding: 15px 30px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}
.donate>h3{
    font-size: 40px;
}

/* section-7("newsletter" section) */
.newsletter{
    padding: 80px 100px;
    border-radius: 24px;
    background-color: #C6E4D6;
    text-align: center;
}

.newsletter>h3{
    font-size: 40px;
    font-weight: bold;
}

.newsletter>p{
    font-size: 16px;
    font-weight: 400;
    height: 0px;
}

.newsletter-form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    margin-top: 70px;
    margin-inline: auto;
    width: 500px;
    height: 50px;
    text-align: center;
}

.newsletter-form>a>button{
    background-color: #006A50;
    padding: 15px 30px;
    color: #FFFFFF;
    border: none;
    height: 40px;
}

/* footer section */
footer{
    text-align: center;
}